
    div{
        float: left;
        border: 1px solid black;
    }
    .biankuang{
        width: 600px;
        height: 500px;
    }
    .a1{
        width: 600px;
        height: 98px;
    }
    .a2{
        width: 97px;
        height: 300px;
    }
    .a3{
        width: 400px;
        height: 300px;
    }